body {
  text-align: center;
  background: url(../../../public/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

a {
  color: white;
}
